<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @list.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @list.text %>
</p>
<p>
  <strong>Is healthy:</strong>
  <%= @list.is_healthy %>
</p>
<p>
  <strong>Complete:</strong>
  <%= @list.complete %>
</p>
<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
